@font-face {
    font-family: "rbold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "rblack";
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: "rreg";
    src: url(../fonts/Roboto-Regular.ttf);
}